/* styles.css */

.cool {
    background-color: lightcoral;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    ;
}

.cool.cooler {
    background-color: lightcoral;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    ;
    font-size: 24px;
}

#one {
    color: blue;
    font-size: 36px;
}

#another {
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}