body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 10px auto;
  overflow: hidden;
}

.title {
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 8px;
  padding-right: 10px;
  background: #e3f4ff;
  font-size: 16px;
}

.content {
  background: #e3f4ff;
  padding: 20px 10px;
}

.button-container {
  padding-top: 10px;
  padding-bottom: 0px;
  text-align: center;
  display: block;
  background: #e3f4ff;
}

button {
  text-align: center;
  background: white;
  border: 1px solid #eee;
  padding: 10px 20px;
  padding-bottom: 10px;
}

.button-container button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

* {
  margin: 10px;
}